:root {
--b3-theme-primary: rgba(174, 26, 146, 1);
--b3-theme-primary-light: rgba(66, 133, 244, 0.54);
--b3-theme-primary-lighter: rgba(66, 133, 244, 0.38);
--b3-theme-primary-lightest: rgba(66, 133, 244, 0.12);
--b3-theme-secondary: rgba(15, 178, 183, 1);
--b3-theme-background: rgba(31, 32, 33, 1);
--b3-theme-surface: rgba(41, 42, 45, 1);
--b3-theme-error: rgba(210, 63, 49, 1);
--b3-theme-on-primary: rgba(255, 255, 255, 1);
--b3-theme-on-secondary: rgba(255, 255, 255, 1);
--b3-theme-on-background: rgba(232, 234, 237, 1);
--b3-theme-on-surface: rgba(154, 160, 166, 1);
--b3-theme-on-error: rgba(255, 255, 255, 1);
--b3-font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", "Hiragino Sans GB", "Microsoft Yahei", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
--b3-font-family-code: mononoki, Consolas, "Liberation Mono", Menlo, Courier, monospace, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
--b3-border-color: rgba(255, 255, 255, 0.12);
--b3-scroll-color: rgba(167, 16, 16, 0.3);
--b3-list-hover: rgba(255, 255, 255, .06);
--b3-tab-background: rgba(35, 37, 43, 1);
--b3-tooltips-color: rgba(70, 72, 76, 0.86);
--b3-transition: all .15s cubic-bezier(0, 0, .2, 1) 0ms;
--b3-point-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
--b3-dialog-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
--b3-diff-add: #133a1c;
--b3-diff-add-surface: #28853e;
--b3-diff-del: #440c10;
--b3-diff-del-surface: #b1202d;
--b3-graph-point: rgba(232, 234, 237, 1);
--b3-graph-line: rgba(154, 160, 166, 1);
--b3-graph-hl-point: rgba(243, 169, 47, 1);
--b3-graph-hl-line: rgba(210, 63, 49, 1);
--b3-vditor-toolbar-height: 35px;
--b3-vditor-toolbar-height-space: 8px;
--b3-vditor-mark-heading-color: rgba(152, 118, 170, 1);
--b3-vditor-mark-title-color: rgba(128, 128, 128, 1);
--b3-vditor-mark-em-color: rgba(204, 120, 50, 1);
--b3-vditor-mark-strong-color: rgba(125, 50, 204, 1);
--b3-vditor-mark-backslash-color: rgba(204, 120, 50, 1);
--b3-vditor-mark-s-color: rgba(154, 160, 166, 1);
--b3-vditor-mark-mark-color: rgba(154, 160, 166, 1);
--b3-vditor-mark-link-color: rgba(255, 198, 109, 1);
--b3-vditor-mark-bracket-color: rgba(40, 123, 222, 1);
--b3-vditor-mark-paren-color: rgba(106, 135, 89, 1);
--b3-vditor-mark-block-color: rgba(152, 118, 170, 1);
--b3-vditor-mark-tag-color: rgba(204, 120, 50, 1);
--b3-vditor-inline-s-color: rgba(232, 234, 237, 1);
--b3-vditor-inline-strong-color: rgba(191, 80, 167, 1);
--b3-vditor-inline-em-color: rgba(192, 22, 22, 1);
--b3-vditor-inline-tag-color: rgba(154, 160, 166, 1);
--b3-vditor-inline-link-color: rgba(28, 158, 30, 1);
--b3-vditor-inline-blockref-color: rgba(152, 118, 170, 1);
--b3-vditor-inline-mark-color: rgba(18, 147, 53, 1);
--b3-vditor-inline-mark-background: rgba(50, 89, 60, 1);
--b3-vditor-toolbar-height: 29px;
--b3-font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", "Hiragino Sans GB", "Microsoft Yahei", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
--b3-dialog-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.4);
--b3-vditor-code-background: rgba(66, 133, 244, .36);
--b3-list-hover: rgba(255, 255, 255, .06);
--b3-diff-del-surface: #b1202d;
--b3-point-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
--b3-vditor-search-border-color: #486a51;
--b3-vditor-toolbar-height-space: 6px;
--b3-font-family-code: mononoki, Consolas, "Liberation Mono", Menlo, Courier, monospace, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
--b3-transition: all .15s cubic-bezier(0, 0, .2, 1) 0ms;
--b3-diff-add-surface: #28853e;
--b3-diff-del: #440c10;
--b3-diff-add: #133a1c;
--b3-vditor-search-background: #32593c;
--b3-vditor-search-current-background: #204282;
--b3-diff-del: #440c10;
--b3-vditor-search-background: #32593c;
--b3-point-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
--b3-vditor-search-current-background: #204282;
--b3-font-family-code: mononoki, Consolas, "Liberation Mono", Menlo, Courier, monospace, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
--b3-vditor-code-background: rgba(66, 133, 244, .36);
--b3-vditor-toolbar-height: 29px;
--b3-diff-add: #133a1c;
--b3-diff-add-surface: #28853e;
--b3-vditor-toolbar-height-space: 6px;
--b3-font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", "Hiragino Sans GB", "Microsoft Yahei", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
--b3-list-hover: rgba(255, 255, 255, .06);
--b3-dialog-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.4);
--b3-vditor-search-border-color: #486a51;
--b3-diff-del-surface: #b1202d;
--b3-transition: all .15s cubic-bezier(0, 0, .2, 1) 0ms;
--b3-vditor-search-background: #32593c;
--b3-vditor-search-current-background: #204282;
--b3-diff-add-surface: #28853e;
--b3-font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", "Hiragino Sans GB", "Microsoft Yahei", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
--b3-list-hover: rgba(255, 255, 255, .06);
--b3-font-family-code: mononoki, Consolas, "Liberation Mono", Menlo, Courier, monospace, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
--b3-diff-del: #440c10;
--b3-point-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
--b3-vditor-search-border-color: #486a51;
--b3-diff-del-surface: #b1202d;
--b3-vditor-toolbar-height-space: 6px;
--b3-vditor-code-background: rgba(66, 133, 244, .36);
--b3-dialog-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.4);
--b3-diff-add: #133a1c;
--b3-vditor-toolbar-height: 29px;
--b3-transition: all .15s cubic-bezier(0, 0, .2, 1) 0ms
}
